<form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="control-label col-sm-3">Name</label>
    <div class="col-sm-9 right-div">
      <input type="text" class="form-control" [(ngModel)]="editperson.name" placeholder="Name" name="name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Email</label>
    <div class="col-sm-9 right-div">
      <input type="text" class="form-control"
             [(ngModel)]="editperson.email" pattern="[^@]+@[^@]+" placeholder="Email" name="email" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Address</label>
    <div class="col-sm-9 right-div">
      <input type="text" class="form-control"
             [(ngModel)]="editperson.address" placeholder="Address" name="address" required>
    </div>
  </div>

  <div class="form-group">
    <div class="control-btn">
      <button *ngIf="editperson.id!=null;" type="submit" class="btn btn-success btn-sm btn-right"
              style="margin: 0 5px" [disabled]="form.form.invalid">Update
      </button>
      <button *ngIf="editperson.id==null;" type="submit" class="btn btn-success btn-sm btn-right"
              style="margin: 0 5px" [disabled]="form.form.invalid">Create
      </button>
      <button type="button" class="btn btn-default btn-sm btn-right" style="margin: 0 5px" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>