/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.error{
    color: #a94442;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 3px solid #a94442; /* red */
}
.right-div {
    display: inline-block;
}
.control-btn {
    text-align: right;
}
.formlabel {
    display: flex;
}
/*multi dropdown select style*/
.multiselect-dropdown {
    //min-width: 400px !important;
}
.multiselect-dropdown .dropdown-btn {
    color: #888888 !important;
    border: 1px solid #d6d6d6 !important;
    padding-left: 12px !important;
    padding-top: 4px !important;
    padding-right: 4px !important;
    border-radius: 3px !important;
    //min-width: 440px !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 6px solid #555555 !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
}
