/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.error{
    color: #a94442;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 3px solid #a94442; /* red */
}
.right-div {
    display: inline-block;
}
.control-btn {
    text-align: right;
}
.formlabel {
    display: flex;
}
