<div [@routerTransition] xmlns="http://www.w3.org/1999/html">
  <app-page-header [heading]="'Persons'" [icon]="'fa-table'"></app-page-header>

  <p-growl [life]="3000" [sticky]="false" [(value)]="messages"></p-growl>
  <p-confirmDialog
          header="Delete Person"
          icon="fa fa-trash"
          acceptLabel="Yes">
  </p-confirmDialog>
  <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"
               size = "large"
               color = "#fff"
               type = "timer">
    <!--<p style="font-size: 20px; color: white">Loading...</p>-->
  </ngx-spinner>
  <div class="row">

    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3" style="background-color: #e9ecef">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-sm"
                  (click)="startCreate()">
            <i class="fa fa-plus fa-fw"></i>New Person </button>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngFor="let person of persons">
            <p-card [style]="{margin: '5px 5px'}" styleClass="ui-card-shadow">
              <p-header>
                <img src="Card" style="padding: 10px;" [src]="person.imageurl ? person.imageurl:'assets/images/photo-back.png'">
              </p-header>
              <div>
                <div class="form-group formlabel">
                  <label class="control-label col-sm-4">Name:</label>
                  <label class="control-label col-sm-8"><strong>{{person.name}}</strong></label>
                </div>
                <div class="form-group formlabel">
                  <label class="control-label col-sm-4">Address</label>
                  <label class="control-label col-sm-8"><strong>{{person.address}}</strong></label>
                </div>
                <div class="form-group formlabel">
                  <label class="control-label col-sm-4">ContactNumber</label>
                  <label class="control-label col-sm-8"><strong>{{person.contactNumber}}</strong></label>
                </div>
                <div class="form-group formlabel">
                  <label class="control-label col-sm-4">Required</label>
                  <label class="control-label col-sm-8">
                    <strong *ngIf="person.isRequired">Yes
                    </strong>
                    <strong *ngIf="!person.isRequired">No
                    </strong>
                  </label>
                </div>
              </div>
              <p-footer>
                <div class="control-btn">
                  <button pButton type="button" (click)="startEdit(person)" label="Modify" icon="pi pi-check" class="ui-button-success" style="margin-right: .25em"></button>
                  <button pButton type="button" (click)="onDeleteItem(person)" label="Delete" icon="pi pi-times" class="ui-button-secondary"></button>
                </div>
              </p-footer>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
        [(visible)]="showFormDialog" [responsive]="true" [modal]="true"
        [draggable]="false" [breakpoint]="500" [width]="500" [contentStyle]="{'max-height':'500px'}"
        [blockScroll]="true" >
  <p-header *ngIf="status_flag=='Create'">
    Add New Person
  </p-header>
  <p-header *ngIf="status_flag=='Update'">
    Update Person
  </p-header>
  <app-person-form [edittata]="edittata"
                     (cancel)="onCancelEdit()" (update)="onUpdate($event)" #editForm>

  </app-person-form>
</p-dialog>