<div [@routerTransition] xmlns="http://www.w3.org/1999/html">
  <app-page-header [heading]="'Locations'" [icon]="'fa-table'"></app-page-header>

  <p-growl [life]="3000" [sticky]="false" [(value)]="messages"></p-growl>
  <p-confirmDialog
          header="Delete Location"
          icon="fa fa-trash"
          acceptLabel="Yes">
  </p-confirmDialog>

  <div class="row">

    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3" style="background-color: #e9ecef">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-sm"
                  (click)="startCreate()">
            <i class="fa fa-plus fa-fw"></i>New Location </button>
        </div>
        <div class="row">
          <!--<ng4-loading-spinner [loadingText]="'Please wait...'"> </ng4-loading-spinner>-->
          <div class="col-sm-4" *ngFor="let location of locations">
              <p-card [style]="{margin: '5px 5px'}" styleClass="ui-card-shadow">
                <p-header>
                  <img *ngIf="location.images.length < 1" src="Card" style="padding: 10px; width: 100%; height: 297px" [src]="'assets/images/photo-back.png'">
                  <p-galleria *ngIf="location.images.length > 0" [images]="location.images" panelWidth="100%" panelHeight = "250"[showCaption]="false"></p-galleria>
                </p-header>
                <div>
                    <div class="form-group formlabel">
                      <label class="control-label col-sm-4">Name:</label>
                      <label class="control-label col-sm-8"><strong>{{location.name}}</strong></label>
                    </div>
                    <div class="form-group formlabel">
                      <label class="control-label col-sm-4">Address</label>
                      <label class="control-label col-sm-8"><strong>{{location.address}}</strong></label>
                    </div>
                    <div class="form-group formlabel">
                      <label class="control-label col-sm-4">ApprovalNeeded</label>
                      <label class="control-label col-sm-8">
                        <strong *ngIf="location.isApprovalNeeded">Yes
                        </strong>
                        <strong *ngIf="!location.isApprovalNeeded">No
                        </strong>
                      </label>
                    </div>
                </div>
                <p-footer>
                  <div class="control-btn">
                    <button pButton type="button" (click)="startEdit(location)" label="Modify" icon="pi pi-check" class="ui-button-success" style="margin-right: .25em"></button>
                    <button pButton type="button" (click)="onDeleteItem(location)" label="Delete" icon="pi pi-times" class="ui-button-secondary"></button>
                  </div>
                </p-footer>
              </p-card>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>

<p-dialog
        [(visible)]="showFormDialog" [responsive]="true" [modal]="true" [positionTop]="30"
        [draggable]="false" [breakpoint]="500" [width]="500" [baseZIndex]="1000"
        [blockScroll]="true" [class.ui-dialog-titlebar]="true">
  <p-header *ngIf="status_flag=='Create'">
    Add New Location
  </p-header>
  <p-header *ngIf="status_flag=='Update'">
    Update Location
  </p-header>
  <app-location-form [edittata]="edittata"
                   (cancel)="onCancelEdit()" (update)="onUpdate($event)" #editForm>

  </app-location-form>
</p-dialog>